{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | UserAuth app</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills" style="display: flex;justify-content: center;">                                
                                <li>
                                    Login to continue
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">                            
                            <form class="form-signin" action="" method="post">
                                {% csrf_token %} {{ form | crispy }}
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            </form>
                            <br>
                            
                        </div>
                        <div class="panel-footer">
                            <p>Do not have an account?
                                <a href="/register">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

    