{% extends 'base.html' %}

{% block title %}
    List | {{ block.super }}
{% endblock title %}


{% block content %}
<h3>Post List</h3>
{% for obj in query_list %}
<div class="card mb-4">
    {% if obj.image %}
    <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap" style="width:100%;object-fit: cover;"> {% endif %}
    <div class="card-body">
        {% if obj.draft %}
        <h3>
            <strong>Staff only: Draft</strong>
        </h3>
        {% if obj.publish > today %}
        <h3>
            <strong>Staff only:Future Post</strong>
        </h3>
        {% endif %} {% endif %}
        <h2 class="card-title">{{ obj.title}}</h2>
        <hr>
        <p class="card-text">{{ obj.content | linebreaks | truncatechars:90}}</p>
        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ obj.publish|date:"d F Y" }} by {% if obj.user.get_full_name %}
        <p>Author: {{ obj.user.get_full_name }}</p>
        {% endif %}
    </div>
</div>
{% endfor %} {% if query_list %}
<p class="text-center">Page {{ query_list.number }} of {{ query_list.paginator.num_pages }}</p>
{% else %}
<p class="text-center">Page 1 of 1</p>
{% endif %}
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    {% if query_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?{{ page_request_var }}={{ query_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&larr; Older</a>
    </li>
    {% endif %} {% if query_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{{ page_request_var }}={{ query_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>
    
{% endblock content %}
    