<footer>
    <div class="container-fluid fixed-bottom py-4 bg-light">
        <p class="m-0 text-center">Copyright &copy;  2018</p>
        <br>
        <div class="text-center">
            <a href="">
                <i class="fa fa-facebook-square fa-3x grow" style="color:#3b5998;margin-right:7px" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter-square fa-3x grow" style="color:#00aced;margin-right:7px" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-linkedin-square fa-3x grow" style="color:#007bb6;margin-right:7px" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-google-plus-square fa-3x grow" style="color:#dd4b39;margin-right:7px" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube-square fa-3x grow" style="color:#c4302b;margin-right:7px" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>
